absl-py
altair
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
babel
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
Flask
flask-cors
flatbuffers
fonttools
fqdn
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
httpcore
httpx
idna
imageio
ipykernel
ipython
isoduration
itsdangerous
jedi
Jinja2
joblib
json2json
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kaggle
keras
kiwisolver
lazy_loader
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
mypy1989
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
oauthlib
opencv-python
opt_einsum
optree
overrides
packaging
pandas
pandocfilters
parso
passlib
pickle-mixin
pillow
platformdirs
plotly
prometheus_client
prompt_toolkit
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydeck
Pygments
pyparsing
python-dateutil
python-json-logger
python-slugify
pytz
PyYAML
pyzmq
referencing
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
scikit-image
scikit-learn
scipy
Send2Trash
six
smmap
sniffio
soupsieve
stack-data
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
text-unidecode
threadpoolctl
tifffile
tinycss2
toml
tomli
tornado
tqdm
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wrapt
xgboost
